### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- Explore popular languages used in Data Science.
- Understand commonly used libraries in Data Science.
- Introduce development environment tools for Data Science.
- Demonstrate evaluation of arithmetic expressions in Python.
- Create and customize tables in Markdown.

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**
2. **Pandas**
3. **Matplotlib**

# Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

KEA MEANHOR